@media screen and (max-width: 960px){.footer{float:none;position:static;width:auto}



}


/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {






}

@media screen and (max-width: 720px){body{word-wrap:break-word}





}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 600px) {
* {
  box-sizing: border-box;
}
body{
   background-color: lightyellow;
}
  .flex-container1 {
    flex-direction: column;
  }
.one{
flex-direction:row;
  }
.once{
flex-direction:row;
  }

}


@media screen and (max-width: 480px){
  body{padding:15px}


}




@media screen and (max-height: 450px) {


}

