* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
}


.header {
  padding: 10px;
  background: #555;
  color: #f1f1f1;
}
.footer{float:none;position:static;width:auto; align:center;}
.content {
  padding: 16px;
  margin-top:-170px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {padding-top: 102px;margin-left:180px;}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
}

@media screen and (max-height: 450px) {
}

@media screen and (max-width: 960px){.footer{float:none;position:static;width:auto}
}
@media screen and (max-width: 720px){body{word-wrap:break-word}
}
@media screen and (max-width: 480px){
  body{padding:15px}
}
