* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
}

.table{border: 1px solid black;
}

.flex-container1 {
  display: flex;
  width:100%;
  padding:5px;
  margin:0;
  flex-align:center;
  flex-direction: row;
  text-align: center;
}

.flex-item-left1 {
  padding: 0;
  flex: 50%;
}
.flex-item-left1  img{
width:200px;
  height:110px;
margin-top:-10px;}

.flex-item-right1 {
  padding: 10px;
  flex: 50%;  
}


.flex-container2 {
  display: flex;
  width:100%;
  padding:10px;
  margin:0;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left2 {
  padding: 0;
  height:300px;
  flex: 50%;
}
.flex-item-left2 h1 {
    color: #003300;
    margin: 0;
  }

.flex-item-right2 {
  padding: 10px;
  flex: 50%;
  height:300px;
}




.flex-item-right2 h1{
  text-align:center;
  font-size:35px;
  color:black;
}

.one {
 display: flex;
  width:95%;
  flex-direction: row;
  margin:10px;
  margin-top:40px;
  margin-left:10px;
}
.one h3 {
height:120px;
Width:120px;
padding:15px;
  text-align: center;
  flex: 30%;
  font-size:19px;
  border-radius: 50%;
  margin-left:10px;
  background-color: #f1f1f1;
  color:black;
  }
.on {
  width:100%;
  flex-direction: row;
  margin-top:40px;
  }

.once {
 display: flex;
  width:95%;
  flex-direction: row;
  margin:10px;
}
.once h3 {
    margin:10px;
height:120px;
Width:120px;
  padding:20px;
  text-align: center;
  color:black;
  font-size:18px;
  }

.flex-container {
  width: 350px;
  padding: 5px;
  margin: 5px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.flex-item {
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  padding: 4px;
  margin-left: 10px;
  width: 70px;
  height: 40px;
  color: black;
  font-size: 12px;
  text-align: center;
}


.nowrap  { 
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  
.wrap li {
  background: gold;
}

.wrap-reverse         { 
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}  
.wrap-reverse li {
  background: deepskyblue;
}

.header {
 padding: 10px 16px;
  height:75px;
  top: 0;
  width: 100%;
  background: #555;
  color: #f1f1f1;
}

.content {
margin-top:100px;padding-top:15px; 
  padding-left:15px;padding-right:15px;height:100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}


.footer{float:none;position:static;width:auto; align:center;}
