body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.sidenav {
  width: 130px;
  position: initial;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.top-container {
  background-color: #f1f1f1;
  padding: 12px;
  text-align: center;
}

.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

.content {
  padding: 16px;margin-left:150px;margin-top:-170px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky1 {
  position: fixed;
  top: 18%;
  width: 20%;
}
.sticky1 +.sidenav+ .content, .sticky + .content {padding-top: 102px;margin-left:150px;}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
