body {
  margin: 0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
}
.sidenav {
  
  
  height: 100%;
  width: 160px;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  position: initial;
  background: #eee;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.top-container {
  background-color: #f1f1f1;
  padding: 5px;
  text-align: justify;
}

.header {
  padding: 10px;
  background: #555;
  color: #f1f1f1;
}

.content {
  padding: 16px;margin-left:180px;
  margin-top:-170px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky1 {
  position: fixed;
  top: 18%;
  width: 150px;
}
.sticky1 +.sidenav+ .content{padding-top: 102px;margin-left:180px;}
.sticky + .content {padding-top: 102px;margin-left:180px;}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
